* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%;
  /*15px*/
}
html::-webkit-scrollbar {
  width: 0.3rem;
}
html::-webkit-scrollbar-thumb {
  background-color: #04D361;
  border-radius: 0.1rem;
}

body {
  background-color: #F0F0F7;
  font-family: "Poppins", sans-serif;
}
body .container {
  width: min(90vw, 800px);
  margin: auto;
}
body .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 1px solid red;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

h2 {
  color: #32264D;
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  font-weight: normal;
}

a {
  color: #04D361;
  text-decoration: none;
}
a:hover {
  color: #02b553;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

#save {
  width: 100%;
  height: 50px;
  color: #FFFFFF;
  background-color: #04D361;
  padding: 0;
  border-radius: 0.25rem;
  transition: background-color 200ms;
}
#save:hover {
  background-color: #02b553;
}

.button.new {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #32264D;
  color: #F0F0F7;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.button.cancel {
  height: 50px;
  color: #E92929;
  border: 2px solid #E92929;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  opacity: 0.6;
  transition: opacity 200ms;
}
.button.cancel:hover {
  opacity: 1;
}

#change-theme {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
#change-theme label {
  width: 50px;
  height: 26px;
  background-color: #F0F0F7;
  border-radius: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
#change-theme #ball {
  width: 22px;
  height: 22px;
  background-color: #32264D;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.2s linear;
}
#change-theme #checkbox {
  opacity: 0;
  position: absolute;
}
#change-theme #checkbox:checked + label #ball {
  transform: translateX(24px);
}

header {
  padding: 2rem 0 10rem;
  background-color: #8257E5;
  text-align: center;
}
header button {
  margin-left: 3rem;
}

#balance {
  margin-top: -5rem;
}
#balance h2 {
  color: #FFFFFF;
  margin-top: 0;
}

.card {
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
  border-radius: 0.25rem;
  background-color: #FFFFFF;
  color: #32264D;
}
.card h3 {
  font-weight: normal;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.card p {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
}
.card.total {
  background-color: #04D361;
  color: #efefef;
}
.card.total-expense {
  background-color: #E92929;
}

#transaction {
  width: 100%;
  display: block;
  overflow-x: auto;
  margin-top: 2rem;
}
#transaction #data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: #7D8195;
}
#transaction #data-table thead tr th:first-child,
#transaction #data-table tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}
#transaction #data-table thead tr th:last-child,
#transaction #data-table tbody tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}
#transaction #data-table thead th {
  background-color: #FFFFFF;
  font-weight: normal;
  padding: 1rem 2rem;
  text-align: left;
}
#transaction #data-table tbody tr {
  opacity: 0.7;
}
#transaction #data-table tbody tr:hover {
  opacity: 1;
}
#transaction #data-table tbody td {
  background-color: #FFFFFF;
  padding: 1rem 2rem;
}
#transaction #data-table td.descritpion {
  color: #363F5F;
}
#transaction #data-table td.income {
  color: #12A454;
}
#transaction #data-table td.expense {
  color: #E92929;
}
#transaction #data-table img {
  cursor: pointer;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
}
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}
.modal-overlay .modal {
  width: 90%;
  max-width: 500px;
  background-color: #F0F0F7;
  padding: 2.4rem;
  position: relative;
  z-index: 1;
}

#form {
  max-width: 500px;
}
#form h2 {
  margin-top: 0;
  color: #32264D;
}
#form form input {
  width: 100%;
  border: none;
  border-radius: 0.2rem;
  padding: 0.8rem;
  color: #32264D;
  background-color: #FFFFFF;
  outline-color: #8257E5;
}
#form .input-group {
  margin-top: 0.8rem;
}
#form .input-group small {
  opacity: 0.4;
}
#form .input-group.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
#form .input-group.actions .button, #form .input-group.actions button {
  width: 48%;
}

footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: #363F5F;
  opacity: 0.6;
}

#page-not-found {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
#page-not-found img {
  width: 300px;
}

.theme-dark {
  background-color: #202024;
}
.theme-dark header {
  background-color: #121214;
}
.theme-dark .card {
  background-color: #1c1c1c;
  color: #f0f0f5;
}
.theme-dark .card.total {
  background-color: #04D361;
  color: #efefef;
}
.theme-dark .card.total-expense {
  background-color: #E92929;
}
.theme-dark #transaction #data-table thead th {
  background-color: #1c1c1c;
}
.theme-dark #transaction #data-table tbody td {
  background-color: #1c1c1c;
}
.theme-dark #transaction #data-table td.descritpion {
  color: #f0f0f5;
}
.theme-dark #form h2 {
  color: #f0f0f5;
}
.theme-dark #form form input {
  color: #f0f0f5;
  background-color: #1c1c1c;
}
.theme-dark #form .input-group small {
  color: #f0f0f5;
}
.theme-dark footer {
  color: #f0f0f5;
}
.theme-dark .modal-overlay .modal {
  background-color: #202024;
}

@media (min-width: 800px) {
  html {
    font-size: 87.5%;
    /*14px*/
  }

  #balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }

  #change-theme {
    top: 1rem;
    right: 1rem;
  }
}

/*# sourceMappingURL=index.css.map */
