@mixin flex($display, $align-items, $justify-content, $flex-direction) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

$color-primary: #8257E5;
$color-secondary: #04D361;
$color-secondary-dark: #02b553;
$color-background: #F0F0F7;
$white: #FFFFFF;
$green: #12A454;
$red: #E92929;
$color-title: #32264D;
$color-text-white: #efefef;
$color-text-dark: #363F5F;
$color-text-table: #7D8195;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%; /*15px*/

  &::-webkit-scrollbar {
    width: 0.3rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-secondary;
    border-radius: 0.1rem;
  }
}

body {
  background-color: $color-background;
  font-family: 'Poppins', sans-serif;

  .container {
    width: min(90vw, 800px);
    margin: auto;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 1px solid red;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}