// Dark
$color-primary: #121214;
$color-background: #202024;
$black: #1C1C1C;
$color-title: #F0F0F5;
$color-text-dark: #F0F0F5;

.theme-dark {
  background-color: $color-background;

  header {
    background-color: $color-primary;
  }

  .card {
    background-color: $black;
    color: $color-title;

    &.total {
      background-color: $color-secondary;
      color: $color-text-white;
    }

    &.total-expense {
      background-color: $red;
    }
  }

  #transaction {

    #data-table {
      thead th {
        background-color: $black;
      }

      tbody td {
        background-color: $black;
      }

      td.descritpion {
        color: $color-text-dark;
      }
    }
  }

  #form {
    h2 {
      color: $color-title;
    }

    form input {
      color: $color-title;
      background-color: $black;
    }

    .input-group {
      small {
        color: $color-text-dark;
      }
    }
  }

  footer {
    color: $color-text-dark;
  }

  .modal-overlay {
    .modal {
      background-color: $color-background;
    }
  }
}